/*
	Inspired from:
		https://css-tricks.com/snippets/css/css-triangle/
*/

.triangle-down 
{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 15px solid white;
}

.triangle-right 
{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 15px solid white;
}

/*	
	I used to do that, but it's crap because the characters don't have the same size in 
	the fonts I've tried
	
	<div class="regularText" style="flex:none;font-size:25px; width:25px;text-align:center;">
		&#9660;
	</div> 

*/